# Compiled Sources
###################
*.o
*.a
*.elf
#*.bin
*.map
*.hex
*.dis
#*.exe
*.dump

# Packages 
############

# Logs and Databases
######################
*.log

# Build directory
######################
build/

patches/
test/

__pycache__/

*.id
*.old
qstrdefs.generated.h

MaixPy.*
