# Compiled Sources
###################
*.o
*.a
*.elf
#*.bin
*.map
*.hex
*.dis
#*.exe
*.dump
tmpconf*
auto.conf.cmd
.config.old
.config.mkm
.tmpconfig*.*
*.tmp

# Packages 
############

# Logs and Databases
######################
*.log

# Build directory
######################
build/
tmp/

patches/
test/

__pycache__/

*.id
*.old
qstrdefs.generated.h

MaixPy.*
MicroPython.*

mconf
conf
